@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,400;1,500;1,700;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}
/* .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
p {
    color: #2b2b2b;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

* {
    scroll-behavior: smooth
}

body {
    letter-spacing: 0;
    font-size: 16px;
}

.form-box textarea.form-control {
    height: 100px
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

:hover, img {
    transition: all 0.2s ease-in-out 0s;
}

.tagline{display: none;}

.gap_block {
    padding: 60px 0
}
/* HOVER EFFECT */
.hover_shadow:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) !important;
}
.img_roted:hover img{
    transform: rotate(360deg);
}
/* HOVER EFFECT END */
.text_truncate{
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 65px;
    line-height: 1.5;
}
.owl-carousel img{
    width: auto !important;
    margin: auto;
}
/* Header CSS */

/* Banner */


/* BACKGROUND HEIGHT IMAGES */

@media screen and (max-width: 992px) {
    .banner-content.position-absolute {
        position: relative !important;
        padding: 30px 0;
    }
}

.header{padding: 5px 0;}
.header-logo img{width: 175px;}
.call-to-action{
    background: #90b855;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 9px 18px;
}

.call-to-action:hover{background: #000; color: #fff;}
.bnr-cont-text{}
.bnr-cont-text h1{ color: #fff;}
.bnr-cont-text h3{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.banner_logo{position: absolute;bottom: -70px;}

.banner_logo img{ border-radius: 50%; border: 2px solid #fff; padding: 3px;}

.bg-gray{background: #f1f1f1;}

.box-1{ 
    border-left: 1px solid #8eb654;
    border-top: 1px solid #8eb554;
    border-right: 1px solid #8db553;
    border-bottom: 1px solid #8eb654;
}
.box-1 img{ 
border-radius: 50%;
  border: 1px solid #333;
  background: #ec8126;
}

.social-icon{background: #90b855;}
.social-icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.accordion-button:not(.collapsed){
    color: #ffffff;
    background-color: #90b855;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-body{
    background: #fff !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    background-color: #333;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}
.social-icon{padding:40px 0;}

.accordion-button::after {
    background: url("../images/down-arrow.png") !important;
    background-size: 16px;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.text-area{background: #f1f1f1; padding: 40px 0; text-align: center;}

.footer{background: #333; padding: 10px 0;}
.footer p{color: #fff; text-align: center; margin: 0;}
    



@media screen and (max-width: 480px) {

.header-logo img {
    width: 130px;
}

.call-to-action{margin-right: 0 !important;padding: 6px 25px;font-size: 17px;}

.bnr-cont-text h1 {
    color: #fff;
    font-size: 23px;
}

.bnr-cont-text h3{
    color: #fff;
    font-size: 16px;
}
.banner_logo{
    bottom: unset;
    top: -90px;
}

.bnr-cont-text{
position: absolute !important;
        bottom: 38px;
        width: 63%;
        right: 0;
        padding: 0 21px;
}

.banner-content.position-absolute {
        position: relative !important;
        padding: 22px 0 0;
    }



.text-area-t{
    padding: 20px 0 20px;
}
.text-area-t h2{ font-size: 24px;}

.bg-gray {
    padding: 30px 0;
}
.bg-gray h2{ font-size: 24px;}

.bg-gray .mb-5{
    margin-bottom: 22px !important;
}

.bg-gray h4{font-size: 18px; font-weight: 600;}

.faq{padding: 30px 0;}

.text-area {
    padding: 30px 0;
    text-align: center;
}
.text-area p{margin: 0;}
.accordion-button {
    font-size: 18px;
}

.bnr-cont-text{display: none;}
.tagline{
    display: block;
    font-size: 15px;
    color: #000;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 8px 0 3px;
    background: #f1f1f1;
    border-radius: 5px;
    font-weight: 500;
}

.text-area-t h2 span{color: #ec8126;}
.bg-gray h2 span{color: #ec8126;}

.social-icon {
  padding: 20px 0;
}
.box-1 {
  padding: 15px 15px !important;
}
.box-1 img {
border-radius: 50%;
        border: 1px solid #90b855;
        background: #90b855;
  width: 110px;
}
.text-area-t p span{margin-right: 5px;}

}


@media screen and (max-width: 414px) {

.bnr-cont-text h1 {
        font-size: 16px;
    }
    .bnr-cont-text h3 {
        font-size: 14px;
    }
    .bnr-cont-text {
        bottom: 33px;
    }


.banner_logo img{width: 80%;}

.banner_logo{
        bottom: unset;
        /* top: -65px; */
    }

    .call-to-action {
        margin-right: 0 !important;
        padding: 2px 10px;
        font-size: 13px;
        margin: 0 !important;
        /* width: 46%; */
    }
.text-area-t h2 {
        font-size: 16px;
        text-align: left;
        margin: 0 0 8px 0;
    }
.text-area-t p {
font-size: 15px;
    text-align: left;
margin: 0 0 8px 0;
    }

    .bg-gray h2 {
        font-size: 15px;
    }

    .bg-gray h4 {
      font-size: 14px;
    margin: 0;
    }

.faq h2 {
        font-size: 20px;
    }

.text-area{font-size: 14px;}

.accordion-button {
    font-size: 16px;
}

  .bg-gray {
    padding: 20px 0;
  }

.bg-gray .mt-3 {
  margin-top: 5px !important;
}
.box-1 img {
    width: 90px;
  }

  .text-area-t {
    padding: 0px 0 5px;
  }

.cta_block{
    display: block;
    text-align: right;
    float: right;
}

    .tagline {
        font-size: 14px;
        padding: 3px 3px 3px 3px;
        margin: 3px 0 3px;
        background: #fff;
        text-align: right;
    }

    .banner_logo{
        bottom: unset;
        top: -105px;
    }


.bg-gray .mt-4 {margin-top: 10px !important;}
    .social-icon {
        padding: 10px 0;
    }


.social-icon-list a img{width: 38px;}





}

