/* Font Example */

/* @font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/Trajan_Pro.woff');
  src: url('../fonts/TrajanPro-Bold.otf') format('embedded-opentype'),
       url('../fonts/Trajan_Pro.woff2') format('woff2'),
       url('../fonts/Mont-ExtraLightDEMO.woff') format('woff'),
       url('../fonts/Trajan\ Pro.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;

}
@font-face {
  font-family: 'TrajanPro-Bold';
  src: url('../fonts/TrajanPro-Bold.woff');
  src: url('../fonts/TrajanPro-Bold.otf') format('embedded-opentype'),
       url('../fonts/TrajanPro-Bold.woff2') format('woff2'),
       url('../fonts/TrajanPro-Bold.woff') format('woff'),
       url('../fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;

} */

